*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    border: 0;
}
li {
    list-style: none;
}
a,
a::visited{
    text-decoration: none;
}
a::hover{
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}
img{
    vertical-align: top;
}
html{
    font-size: 16px;
}
body{
    line-height: 1;
}
/* Анатомия */
/* 
селектор{
    css парраметры
}
*/
/* CSS параметры */
/* 
css свойтсво: значение свойства;
*/
/* Селектор */
/* Селектор тега*/
/* 
имя тега{
    css параметр;
    css параметр;
    css параметр;
    css параметр;
}
*/
/* Пример селектора тега */
/* p { 
     Обратиться ко всем тегам Р на странице 
    color:red;
} */

/* Селектор класса, начинается  с . */
/* 
    .имя класса{
    css парметры;
    css парметры;
    css парметры;
}
*/
/* .text{
  color: green; 
} */

/* Селектор ID */
/* 
#имя id{
    css параметры;
    css параметры;
    css параметры;
}
*/

/* Приоритеты */
/* 1. Порядок записи, при равнозначных селекторах */ 
/* приоритетным будет селектор, записанный ниже всего */

/* ПРИОРИТЕТЫ */
/* Приоритетнее селектора по тегу селектор по классу */
/* .text{ - будет работать первым 
    color: blue;
}
/* p{
    color: greenyellow;
}*/
/* Высший приоритет имеет селектор по id*/
/* p{ 
    color: greenyellow;  
}
#main{
    color: red;
}
.text{
    color: blue;
}*/

/* Вложенность и приоритетность */
/* Приоритетность №1 */
/* .content{ 
    color: violet;
}
.content .content__item{ - вложенный селектор будет приоритетнее
     color: chocolate;
}*/
/* Приоритетность №2 */
/* #main{ - селектор по id не сработает поскольку приоритетнее инлайновый стиль заданный в HTML
    color: blueviolet;
}*/

/* Прочие селекторы */
/* *-обращение ко всем объектам */
/* .content *{ - обращается ко всем объектам в content
    color: aqua;
}*/

/* Обращение только к первым уровням вложенности */
.content > span {
    color: violet;
}